$primary-color: #409EFF;
$button-primary-color: #0d9be2;
$dark_blue: #0c89c7;
$link_button-color: #f9f9f9;
$active_circle-color: #ff2d55;
$button_info-color: #efeff4;
$button_info_disabled-color: #c7c7cc;
$info-text-color: #536070;
$icon-color: #c7c7cc;
